.basket_box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.basket_box_block {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.basket_box_block_left_ul {
  list-style-type: none;
}

.basket_box_block_left_ul_basket_cart {
  background: #FFFFFF;
  max-width: 652px;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.basket_box_block_left_ul_basket_cart_img {
  width: 262px;
  height: 306px;
}

.basket_box_block_left_ul_basket_cart_descrip {
  width: 262px;
  margin: 25px 60px 0 30px;
}

.basket_box_block_left_ul_basket_cart_descrip_a {
  text-decoration: none;
}

.basket_box_block_left_ul_basket_cart_descrip_h3 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.basket_box_block_left_ul_basket_cart_descrip_h3:hover {
  color: #F16D7F;
}

.basket_box_block_left_ul_basket_cart_descrip_ul {
  margin-top: 40px;
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.basket_box_block_left_ul_basket_cart_descrip_ul_li:not(:last-child) {
  margin-bottom: 6px;
}

.basket_box_block_left_ul_basket_cart_descrip .basket_price {
  color: #F16D7F;
}

.basket_box_block_left_ul_basket_cart_descrip .basket_input_quantity {
  border: 1px solid #EAEAEA;
  margin-left: 20px;
  width: 43px;
  height: 24px;
  text-align: center;
}

.basket_box_block_left_ul_basket_cart_cross {
  width: 18px;
  height: 18px;
  margin-top: 30px;
  margin-right: 30px;
}

.basket_box_block_left_ul_basket_cart:not(:first-child, :last-child) {
  margin: 40px 0;
}

.basket_box_block_left_ul .basket_cart_buttons {
  margin-top: 70px;
}

.basket_box_block_left_ul_basket_cart_buttons {
  display: flex;
  justify-content: space-between;
}

.basket_box_block_left_ul_basket_cart_buttons_button_basket {
  border: 1px solid #A4A4A4;
  width: 230px;
  height: 50px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 16px auto;
}

.basket_box_block_left_ul_basket_cart_buttons_button_basket:hover {
  background-color: #FF6A6A;
  color: white;
}

.basket_box_block_right {
  align-items: center;
  width: 360px;
}

.basket_box_block_right_form {
  width: 100%;
}

.basket_box_block_right_form_h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.basket_box_block_right_form_ul {
  list-style-type: none;
}

.basket_box_block_right_form_ul_li {
  margin-top: 20px;
}

.basket_box_block_right_form_ul_li .basket_input {
  height: 45px;
  width: 95%;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 0 22px 0;
}

.basket_box_block_right_form_button {
  width: 100px;
  height: 34px;
  margin-top: 24px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.basket_box_block_right_form_button:hover {
  background-color: #FF6A6A;
  color: white;
}

.basket_box_block_right .summary {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F3F3;
  width: 100%;
  height: 214px;
}

.basket_box_block_right .summary_wrapper {
  max-width: 275px;
  padding: 40px 40px 0 0;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.basket_box_block_right .summary_wrapper_p {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin: 0 0 10px;
}

.basket_box_block_right .summary_wrapper_p::after {
  padding-left: 30px;
  content: "$900";
}

.basket_box_block_right .summary_wrapper_h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.basket_box_block_right .summary_wrapper_h3::after {
  padding-left: 30px;
  color: #F16D7F;
  content: "$900";
}

.basket_box_block_right .summary_hr {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
  border: none;
  margin: 20px 0;
}

@media (max-width: 1024px) {
  .basket_box {
    margin-top: 60px;
    flex-direction: column;
  }
  .basket_box .basket_box_block_left_ul_basket_cart {
    max-width: 734px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_buttons {
    justify-content: space-around;
  }
  .basket_box .basket_box_block_left_ul_basket_cart .basket_cart_buttons {
    margin-top: 62px !important;
  }
  .basket_box .basket_box_block_right {
    width: auto;
    flex-direction: unset;
    justify-content: space-between;
  }
  .basket_box .basket_box_block_right_form {
    margin: 64px 0 0 0;
    padding-right: 2px;
    width: 360px;
  }
  .basket_box .basket_box_block_right_form .basket_input {
    width: 300px;
  }
  .basket_box .basket_box_block_right .summary {
    margin: 80px 0 0 16px;
    width: 360px;
  }
}

@media (max-width: 420px) {
  .basket_box {
    margin-top: 40px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart {
    margin: 0 7px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart:nth-child(2) {
    margin-top: 32px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_img {
    height: 188px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_descrip {
    margin: 17px 0 0 17px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_descrip_h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_descrip_ul {
    font-size: 14px;
    line-height: 17px;
    margin-top: 26px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_descrip .basket_input_quantity {
    font-size: 10px;
    line-height: 12px;
    height: 15px;
    width: 24px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_cross {
    margin: 17px 17px 0 0;
  }
  .basket_box .cart_cross {
    width: 10px;
    height: 10px;
  }
  .basket_box .basket_box_block_left_ul_basket_cart_buttons_button_basket {
    width: 174px;
    height: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .basket_box .basket_cart_buttons {
    margin-top: 30px;
  }
  .basket_box .basket_box_block_right {
    flex-direction: column;
  }
  .basket_box .basket_box_block_right_form {
    margin: 50px 7px 0;
  }
  .basket_box .basket_box_block_right_form_button {
    font-weight: 400;
  }
  .basket_box .basket_box_block_right .summary {
    margin: 50px 7px 0;
  }
}
