@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}


/* Для Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* Для Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: white;
}


/* Убираем стандартный маркер Chrome */

details summary::-webkit-details-marker {
    display: none
}


/* Убираем стандартный маркер Firefox */

details>summary {
    list-style: none;
}

a {
    text-decoration: none;
}

.block {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    position: relative;
}

.menu {
    height: 75px;
}

.menu_li {
    list-style-type: none;
    margin-left: 35px;
}

.menu_li_img:hover {
    animation: rolling 2s linear;
}

.menu_li:first-child {
    margin-left: 0;
}

.switcher {
    position: relative;
    top: -99999999px;
    visibility: hidden;
}

#switcher_id:checked~.drop_menu {
    width: 230px;
    visibility: visible;
}

.drop_menu {
    z-index: 10;
    position: absolute;
    visibility: hidden;
    width: 0;
    top: 55px;
    right: 0;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    transition: all 0.4s;
    &_span {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    &_ul {
        margin-top: 24px;
        &_li {
            list-style-type: none;
            &_a {
                font-size: 14px;
                line-height: 17px;
                color: #F16D7F;
            }
            &_li {
                padding-left: 22px;
                &_a {
                    font-size: 14px;
                    line-height: 17px;
                    color: #6F6E6E;
                }
            }
            &_li:not(:first-child) {
                margin-top: 11px;
            }
            &_li:first-child {
                margin-top: 12px;
            }
            &_li:last-child {
                margin-bottom: 20px;
            }
        }
    }
}

.container {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    max-width: 1140px;
}

.promo {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.promo_box {
    padding-right: 0;
}

.promo_left {
    width: 50%;
}

.promo_img {
    width: 100%;
}

.promo_right {
    width: 50%;
    background: #F1E4E6;
    padding-left: 64px;
    display: flex;
    align-items: center;
    .promo_heading {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    .promo_text_p {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
        &_span {
            color: #F16D7F;
        }
    }
    .box {
        display: block;
        width: 12px;
        height: 92px;
        background: #F16D7F;
        margin-right: 16px;
    }
}

.catalog {
    margin: 64px 0 30px;
    display: flex;
    justify-content: space-between;
    &_item {
        width: 32%;
        position: relative;
        &_img {
            width: 100%;
            filter: brightness(40%);
        }
    }
}

.cat_text {
    position: absolute;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    &_h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #F16D7F;
    }
}

.catalog_item:hover .catalog_item_img {
    filter: brightness(100%);
}

.accesories {
    display: block;
    width: 100%;
    &_img {
        filter: brightness(30%);
        width: 100%;
    }
}

.accesories:hover .accesories_img {
    filter: brightness(100%);
}

.product_box {
    margin-top: 100px;
}

.product_box_heading,
.product_box_text {
    text-align: center;
}

.product_content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-between;
}

.product {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    position: relative;
    transition: transform 1s;
}

.product_img {
    transition: filter 1s;
}

.product_mb {
    margin-bottom: 30px;
}

.product:hover {
    transform: scale(102.5%);
}

.product:hover .product_img {
    filter: brightness(40%);
}

.product:hover .product_link_basket {
    display: flex;
}

.product_link_basket {
    position: absolute;
    top: 188px;
    left: 111px;
    width: 140px;
    height: 44px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: none;
    color: white;
}

.product_link_basket:hover {
    box-shadow: 0 0 5px #F8F8F8;
}

.product_link_basket_img {
    margin-right: 10px;
}

.product_description {
    margin: 20px;
}

.product_name {
    font-size: 13px;
    line-height: 16px;
}

.product_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 12px 0 18px;
}

.button_products {
    border: 1px solid #FF6A6A;
    margin: 50px calc(50% - 105px) 100px;
    width: 210px;
    height: 47px;
    padding: 14px auto;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    display: flex;
    justify-content: center;
}

.button_products:hover {
    background-color: #FF6A6A;
    color: white;
}

.delivery {
    height: 340;
    background: #222224;
}

.delivery_box {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delivery_cart {
    width: 360px;
    height: 160px;
    padding: 10px;
}

.delivery_cart_img {
    height: 40px;
}

.delivery_cart:hover {
    box-shadow: 0 0 5px #F8F8F8;
}

.delivery_cart_link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery_cart_h2 {
    margin: 20px 0 16px;
}

.delivery_cart_p {
    height: 34px;
}

.delivery_cart_h2,
.delivery_cart_p {
    text-align: center;
    color: white;
    max-width: 360px;
}

.subscribe {
    background-image: url("../img/subscribe_bgr.jpg");
    height: 450px;
    background-size: cover;
}

.subscribe_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subscribe_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe_left_img {
    margin: 100px auto 30px;
}

.subscribe_left_p {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe_right_h3 {
    margin-top: 150px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #222224;
}

.subscribe_right_p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #222224;
}

.subscribe_right_form {
    background: #E1E1E1;
    border-radius: 20px;
}

.subscribe_right_form_input {
    background: #E1E1E1;
    width: 170px;
    height: 36px;
    padding: 0 22px 0;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    border-radius: 20px 0 0 20px;
    border: none;
}

.subscribe_right_form_button {
    background: #F16D7F;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.subscribe_right_form_button:hover {
    background: #F16D7F - #222;
}

.footer {
    height: 80px;
}

.left {
    .left_block_p {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
}

.menu_footer_li {
    list-style-type: none;
    margin-left: 7px;
}

.footer_icon {
    display: block;
    width: 32px;
    height: 32px;
    margin-top: -5px;
}

.icon1 {
    fill: white;
}

.icon2 {
    fill: black;
}

.icon:hover .icon1 {
    fill: #F16D7F;
}

.icon:hover .icon2 {
    fill: white;
}

@media (max-width: 1024px) {
    .container {
        padding-left: calc(50% - 369px);
        padding-right: calc(50% - 369px);
        max-width: 1140px;
    }
    .promo_right {
        .promo_heading {
            font-weight: 900;
            font-size: 44px;
            line-height: 53px;
            color: #222222;
        }
        .promo_text_p {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            &_span {
                color: #F16D7F;
            }
        }
    }
    .catalog {
        margin: 20px 0;
    }
    .button_products {
        margin-top: 32px;
        margin-bottom: 65px;
    }
    .delivery_box {
        padding-top: 50px;
        padding-bottom: 64px;
        justify-content: center;
        .delivery_cart {
            // height: 140px;
            &_margin {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
    .subscribe {
        padding-bottom: 140px;
        &_box {
            flex-direction: column;
        }
        &_left {
            &_img {
                margin-top: 54px;
            }
        }
        &_right {
            &_h3 {
                margin-top: 50px;
            }
        }
    }
    .left {
        .left_block_p {
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;
        }
    }
}

@media (max-width: 420px) {
    .menu {
        padding: 0 16px;
        .menu_hide {
            display: none;
        }
    }
    .promo_left {
        display: none;
    }
    .promo_right {
        width: 100%;
        height: 360px;
        .promo_heading {
            font-weight: 900;
            font-size: 38px;
            line-height: 46px;
        }
        .promo_text_p {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
        .box {
            height: 60px;
        }
    }
    .catalog {
        padding: 0 16px;
        flex-wrap: wrap;
        margin-bottom: 32px;
        &_item {
            width: auto;
        }
        &_item2 {
            margin: 32px 0;
        }
    }
    .accesories {
        margin: 0 16px;
        &_img {
            height: 110px;
        }
    }
    .product_box {
        margin: 64px 8px 0;
    }
    .product_mb {
        margin-bottom: 16px;
    }
    .delivery_cart_p {
        max-width: 347px;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
    }
    .subscribe {
        padding-bottom: 110px;
        .subscribe_left_p {
            max-width: 342px;
            font-size: 18px;
            line-height: 22px;
        }
        .subscribe_right {
            &_h3 {
                font-weight: bold 700;
                font-size: 24px;
                line-height: 37px;
                text-align: center;
            }
            &_p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }
        }
    }
    .footer {
        height: auto;
        padding: 42px 0 10px;
        flex-direction: column-reverse;
        .left {
            margin-top: 40px;
        }
    }
}

//////catalog//////catalog/////////catalog///
@import "catalog.scss" scss;
/////product///////product///////product//
@import "product.scss" scss;
/////basket////basket////basket////basket//
@import "basket.scss" scss;
////registration////registration////registration
@import "registration.scss" scss;
////ani////ani////ani////ani////ani
@import "ani.scss" scss;